<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title> ADMIN </title>
        <link href="/static/css/style4.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <main class="main">
            <aside class="sidebar">
            <nav class="nav">
                <ul>
                <li class="active" style="font-size: .7vw"><a href="#">Gargantua Univerity</a></li>
                <li class="active"><a href="#">Management</a></li>
                <li><a href="/update_info">Edit Personal Info</a></li>
                <li><a href="/faculty_studentList">View All Student Info</a></li>
                <li><a href="/admin_student_facultyList">Faculty Student List</a></li>
                <li><a href="/create_user">Create User</a></li>
                
                <li class="active"><a href="#">Advising</a></li>
                <li><a href="/review_grad_status">Approve Grad Requests</a></li>
                <li><a href="/view_thesis">Review Thesis for PHD students</a></li>
                <li><a href="/assign_faculty_student">Assign Advisor to Student</a></li>
                
                <li class="active"><a href="#">Registration</a></li>
                <li><a href="/coursecatalog">View Course Catalog</a></li>
                <li><a href="/chyear">Update Current Year and Semester</a></li>
                <li class="active"><a href ="/logout"> Sign Out</a></li>
                </ul>
            </nav>
            </aside>
        </main>
            <section class="title">
                <div class="container1">
                    <p>Welcome {{users['name']}}</p>
                    <div class="table-wrapper">
                        <table class= "fl-table" style = "width:100%">
                            <thead>
                                <tr>
                                    <th>UID</th>
                                    <th>Username</th>
                                    <th>Role</th>
                                    <th>Password</th>
                                    <th>
                                    <form method="GET" action="/admininfo">
                                        <input placeholder="Search Students..." type="text" name="query">
                                    </form>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in users: %} 
                                <tr>
                                    <td>{{ i["uid"] }}</td>
                                    <td>{{ i["uname"] }}</td>
                                    <td>{{ i["role"] }}</td>
                                    <td>{{ i["password"] }}</td>
                                    <td>
                                        <form method="POST">
                                            <button class="press" name="edit_user" value={{i['uid']}}>Edit User Info</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
    </body>
</html>