<html>
    <head>
        <title>Reviewer Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    </head> 
    <body style="background-color:floralwhite">
        <div class="text text-center">
            {{mess}}
            <h1>Reviewer View</h1>
            <table style = "width:80%" class="text text-center">
                <h2>Completed Applications below</h2>
                <a href="/logout">Sign Out</a>
                <h3>Hello, {{name}}!</h3>


                <div class="display">
                    <div class="forms">
                        <h4 align="left"> Completed Forms: </h4>
                        {% if not formsExist %}
	                        <div id="signInButton">
		                        <h3>No applications</h3>
                            </div>
                        {% endif %}
                            <ul>
                                {% for row in forms %}
                                <li align="left"><a href="/review_application/{{row.get('id')}}">{{row.get('id')}}
                                {{row.get('fname')}}   {{row.get('lname')}}
                                </a></li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>
            </table>
        </div>
    </body>
</html>